<form role="form" ng-submit="submit()">
    <div class="form-group">
        <select  ng-model="login2.question">
            <option>How old are you?</option>
            <option>What's your favorite color?</option>
            <option>What's your mother name?</option>
        </select>
        <input type="text"
               class="form-control" id="username" name="username" ng-model="login2.answer" required/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>