<form role="form" ng-submit="submit()">
    <div class="form-group">
        <select  ng-model="signup2.question1">
            <option>How old are you?</option>
            <option>What's your favorite color?</option>
            <option>What's your mother name?</option>
        </select>
        <input type="text"
               class="form-control" id="username" name="username" ng-model="signup2.answer1" required/>
    </div>
    <div class="form-group">
        <select ng-model="signup2.question2">
            <option>How old are you?</option>
            <option>What's your favorite color?</option>
            <option>What's your mother name?</option>
        </select>
        <input type="birthday"
               class="form-control" id="birthday" name="birthday" ng-model="signup2.answer2" required/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>