<form role="form" ng-submit="submitSignup1()">
	<div class="form-group">
		<label for="username">Username:</label> <input type="text"
			class="form-control" id="username" name="username" ng-model="signup1.username" required/>
	</div><div class="form-group">
		<label for="password">Password:</label> <input type="password"
			class="form-control" id="password" name="password" ng-model="signup1.password"/>
	</div>
	<div class="form-group">
		<label for="birthday">Birth Date:</label> 
		<p class="input-group">
          <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="signup1.birthday" is-open="opened" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>