/*-------------------------
        Simple reset
--------------------------*/


*{
    margin:0;
    padding:0;
}


/*-------------------------
        General Styles
--------------------------*/


html{
    background:url('../img/bg.jpg') repeat #e1f0f6;
}


body{
    font:14px/1.3 'Open Sans Condensed', sans-serif;
}

a, a:visited {
    outline:none;
    color:#1c4f64;
}

a:hover{
    text-decoration:none;
}

section, footer, header{
    display: block;
}


/*----------------------------
        The Header
-----------------------------*/


header h1{
    text-align:center;
    font: normal 52px 'Playball', cursive;
    color:#518191;
    padding-top:60px;
    text-shadow:1px 1px 1px rgba(0,0,0,0.1);
}


/*----------------------------
        The Cloud Background
-----------------------------*/


#clouds{
    background:url('../img/cloud1.png') no-repeat;
    height: 145px;
    left: 50%;
    position: absolute;
    top: 250px;
    margin-left: -542px;
    width: 222px;
    z-index: -1;
}

#clouds:before{
    content:'';
    background:url('../img/cloud2.png') no-repeat;
    height: 102px;
    right: -710px;
    position: absolute;
    top: -125px;
    width: 156px;
}

#clouds:after{
    content:'';
    background:url('../img/cloud3.png') no-repeat;
    height: 74px;
    right: -750px;
    position: absolute;
    top: 325px;
    width: 114px;
}


/*----------------------------
        The Weather Div
-----------------------------*/

#zipForm {
    margin: 0 auto;
    width: 300px;
}
#zipCode {
    width: 191px;
}
#zipForm input[type=submit] {
    width: 100px;
}
#weather{
    padding: 20px;
    position:relative;
    width:494px;
    height:407px;
    margin: 50px auto 25px;
    overflow:hidden;
    font-size: 24px;
}

#weather:before {
    background: url("../img/preloader.gif") no-repeat center center #111;
    border: 1px solid #000;
    border-radius: 50% 50% 50% 50%;
    box-shadow: 0 1px 2px #444;
    content: "";
    height: 44px;
    left: 50%;
    margin: -22px 0 0 -22px;
    opacity: 0.7;
    position: absolute;
    top: 50%;
    width: 44px;
}

#weather.error:before{
    display:none;
}

#weather.error{
    text-align:center;
    font-size: 20px;
}

#weather.loaded:before{
    display:none;
}

#weather.loaded{
    border-radius:3px;
    box-shadow:0 0 5px rgba(0,0,0,0.15);
}

#weather table {
    width: 1px;
    margin: 0 auto;
}

#weather table td {
    padding: 2px 10px;
    white-space: nowrap;
}