<!doctype html>
<html>
<head>
<title>Hello AngularJS</title>
<!-- <link href="css/angular-bootstrap.css" rel="stylesheet"> -->
<link href="webjars/bootstrap/3.1.1/css/bootstrap.css" rel="stylesheet">
<style type="text/css">
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}
</style>
</head>

<body ng-app="hello" ng-cloak class="ng-cloak">
	<div ng-controller="navigation" class="container">
		<ul class="nav nav-pills" role="tablist">
			<li class="active"><a href="#/">home</a></li>
			<li ng-hide="authenticated"><a href="#/login">login</a></li>
            <li ng-hide="authenticated"><a href="#/signup1">sign up</a></li>
			<li ng-show="authenticated"><a href="" ng-click="logout()">logout</a></li>
		</ul>
	</div>
	<div ng-view class="container"></div>
	<!-- <script src="webjars/jquery/2.1.1/jquery.js"></script> -->
    <script src="webjars/angularjs/1.2.16/angular.js"></script>
    <script src="webjars/angularjs/1.2.16/angular-route.js"></script>
    <script src="webjars/angularjs/1.2.16/angular-cookies.js"></script>
	<!-- <script src="js/angular-bootstrap.js" type="text/javascript"></script> -->
	<script src="webjars/angular-ui-bootstrap/0.12.1-1/ui-bootstrap-tpls.js"></script>
	<script src="webjars/angular-ui-bootstrap/0.12.1-1/ui-bootstrap.js"></script>
	<script src="js/main.js"></script>
    <script src="js/signup1Controller.js"></script>
    <script src="js/signup2Controller.js"></script>
    <script src="js/login2Controller.js"></script>
</body>
</html>